* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F72C5B;
}

.main {
    width: 200px;
    height: 300px;
    
    background-color: white; /* Add this if you want a background color for the .main div */
    margin: 0 auto; /* Ensures it is centered if the parent container is fixed width */
}

.row {
    background-color: white;
    padding: 10px;
    border-radius: 3.5%;
}

.row img {
    width: 100%;
    border-radius: 3.5%;
}

.row text {
    text-align: center;
}